<% include ./partials/header %>

<h1>Enter Your Details here !</h1>

<div class = "container">
    <form action="/register" method="post">
        <input type = "text" name = "username" placeholder = "Username" class = "form-control">
        <input type = "password" name = "password" placeholder = "Password" class = "form-control">
        <button class = "btn btn-outline-success btn-block" >Submit</button>
    </form>
</div>


<% include ./partials/footer %>